<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head', {title: "Home"})  %> 
<body class="home-container">
    <%-include('../partials/header')  %> 
    <main class="main-index details">
        <section class="new-products products">
            <% products.forEach(product => { %>
                <% if (product.subcategories.name == 'Guitarras Electricas') { %>
                    <article>
                        <a href="/products/detail/<%- product.id %> ">
                            <div class="product-container">
                                <div class="img-container">
                                    <img src="/images/products/<%- product.productsImages[0].name_image %>" alt="producto-guitarra">
                                </div>
                                <div class="description-container">
                                    <div class="guitar-precio">
                                        <h4><%- product.name %> </h4>
                                        <p>$<%- product.price %> </p>
                                    </div>
                                    <p class="description"><%- product.description %> </p>
                                    <p><b>0</b> Colores available</p>
                                </div>
                            </div>
                        </a>
                    </article>
                <% } %>
                
             <% }) %>
        </section>

    </main>
    <%-include('../partials/footer')  %> 
</body>
</html>